body{
    background: rgb(226, 226, 226)
}

P {
    color: rgb(26, 25, 25);
}

.foto-principal {
    width: 300px;
    border: 2px solid #ffff;
    border-radius: 50%  ;
    /*margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 600px;*/
    margin: 30px 30px 30px 30px;
}