body{
    background: rgb(226, 226, 226);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(26, 25, 25);
}




.foto-principal {
    width: 300px;
    border: 2px solid #ffff;
    border-radius: 50%  ;
    /*margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 600px;*/
    margin: 30px ;
    box-shadow: 0px 0px 10px #4e4d4d;
    
}

h1{
    margin-bottom: 0;
    letter-spacing: -1px;
}
h2{
    margin-top: 0;
    font-style: italic;
    color: rgb(73, 73, 73);
    font-weight: 100;
    letter-spacing: -1px;
}