body{
    background: rgb(226, 226, 226);
    font-family: 'Raleway', sans-serif;
    color: rgb(26, 25, 25);
    margin: 0;
}

.container {
   width: 1000px; 
   margin: 0 auto;
   
}

.perfil {
    text-align: center;
    margin-bottom: 40px;
}



.foto-principal {
    width: 300px;
    border: 2px solid #ffff;
    border-radius: 50%  ;
    /*margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 600px;*/
    margin: 30px 30px 0px 30px ;
    box-shadow: 0px 0px 10px #4e4d4d;
    
}

h1{
    margin-bottom: 0;
    letter-spacing: -1px;
    font-family: 'PT Sans Narrow', sans-serif;
}
h2{
    margin-top: 0;
    font-style: italic;
    color: rgb(73, 73, 73);
    font-weight: 100;
    letter-spacing: -1px;
}

h4{
    margin-bottom: 5px;
}

h5{
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 100;
    font-style:italic ;
}

p{
    line-height: 25px;
    margin-top: 0;
}
.social-icons {
    width: 20px;
    height: auto;
}

.linkedin {
    margin: 0 15px 0 15px;
}

.jobs {
    list-style: none;
    padding-left:  20px;
}

.footer{
    margin-top: 40px;
    background-color: black;
    color: white;
    text-align: center;
}